*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
  }
  :root {
    --orange: #E27866;
    --white: #ffffff;
    --black: #1C1C1C;
    --green: #41D395;
    --gray: #F5F5F5;
    --darkgray: #86878B;
    --orange: #E27866;
    --brown:#A37169;
    --blue:#6696E2;
  }