#orange-section{
    height: 550px;
    background: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
  }
  
  .orange-section1{
    padding: 25px;
    width: 400px;
    height: 320px;
    margin-right: 0;
    margin-top: 0;
  }
  
  .input1{
    border-bottom: 1px solid var(--black);
  }
  
  #h3upper-orange{
    width: 160px;
    border-radius: 10px;
  }
  
  #send-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }